<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <table border="1">
        <tr>
            <td>id</td>
            <td>文章</td>
            <td>操作</td>
        </tr>
       {volist name="data" id="v"}
        <tr>
            <td>{$v.id}</td>
            <td>{$v.content}</td>
            <td>
                <a href="{:url('index/del')}?id={$v.id}">删除</a>
                <a href="{:url('index/upd')}?id={$v.id}">修改</a>
            </td>
        </tr>
        {/volist}
    </table>
</center>
</body>
</html>